<table class="table" ng-show="model.users">
    <thead>
    <tr>
        <th>Users</th>
        <th>Role</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in model.users">
        <td>
            <a ng-click="model.getComments(user._id)"> {{user.username}}</a>
        </td>
        <td>
            {{user.role}}
        </td>
        <td>
            <button ng-click="model.deleteUser(user._id)"
                    class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<table class="table" ng-show="model.comments">
    <thead>
    <tr>
        <th>Comments</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="comment in model.comments">
        <td ng-show="comment.text != ''">
            {{comment.text}}
        </td>
        <td ng-show="comment.text != ''">
            <button ng-click="model.deleteComment(comment._id, comment, comment.user)"
                    class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
