<div ng-include="'views/user/navBar.view.client.html'"></div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="abc@def.com" ng-model="model.user.email">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="First Name"
                   ng-model="model.user.firstName">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Last Name"
                   ng-model="model.user.lastName">
        </div>
        <div class="form-group">
            <label for="home-town">Home Town</label>
            <input type="text" class="form-control" id="home-town" placeholder="Boston" ng-model="model.user.homeTown">
        </div>
        <div class="form-group">
            <label for="phone-num">Phone Number:</label>
            <input type="number" class="form-control" id="phone-num" placeholder="xxx-xxx-xxxx"
                   ng-model="model.user.phone">
        </div>
        <a ng-click="model.updateUser()" class="btn btn-success  btn-block">Update</a>
        <a ng-click="model.deleteUser()" class="btn btn-warning  btn-block">Unregister</a>
        <a href="#/admin" class="btn btn-warning  btn-block" ng-show="model.user.role == 'ADMIN'">Admin</a>
        <div id="profileMessage" class="alert alert-success hidden">
            {{model.message}}
        </div>
    </form>
    <div>
        <label>Your Reviews:</label>
        <div ng-repeat="c in model.comments">
            <div ng-show="c.text != ''">
                <a ng-click="model.viewPlace(c.yelpid)"><b>{{c.placename}}:</b></a>
                <div class="pull-right" title="{{c.username}}'s Rating">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <span ng-repeat="r in model.setRating(model.ratings[c.user + c.yelpid]) track by $index">
                    <span class="{{r}}"></span>
                </span>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-body" id="disp-comment">
                        {{c.text}}
                        <div ng-repeat="rep in c.replies">
                            <a ng-click="model.viewProfile(rep.user)" ><b>{{rep.username}}</b></a> replied:
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    {{rep.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>